html {
  font-family: 'SF-Pro-Text', sans-serif;
  user-select: none;
  box-sizing: border-box;

  body {
    margin: 0;
    background: #1a1a1a;

    .app {
      overflow-x: hidden;

      .block {
        position: relative;
        height: 419px;
        width: 375px;
        margin: auto;

        .container {
          margin: 0 auto;
          width: 335px;
          height: 100%;

          .theme {
            position: absolute;
            width: 18px;
            height: 18px;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.3);
            color: #625f5f;
            border-radius: 50%;
            margin: 48px 19px 0 330px;
            padding: 5px;
            transition: all ease 0.5s;

            i {
              display: block;
              margin: auto;
              text-align: center;
            }

            &:hover {
              cursor: pointer;
              background: rgba(226, 199, 199, 0.3);
              color: #000000;
            }
          }

          @media screen and (min-width: 376px) {
            .theme {
              margin: 48px 13px 0 370px;
            }
          }

          @media screen and (max-width: 374px) {
            .theme {
              margin: 29px 10px 0 278px;
            }
          }

          h1 {
            font-family: 'SF Pro Display', sans-serif;
            height: 41px;
            font-size: 34px;
            line-height: 41px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 80px;
            margin: 0;
            letter-spacing: 0.37px;
          }

          @media screen and (max-width: 374px) {
            h1 {
              font-size: 24px;
              padding-top: 40px;
            }
          }

          .group {
            color: #FFFFFF;
            font-size: 12px;
            padding-top: 0;
          }

          .paragraph {
            height: 23px;
            margin: 22px 0 0 0;

            &::before {
              content: url("img/iPhone X/Path 1.svg");
            }
          }

          @media screen and (min-width: 376px) {
            .paragraph {
              height: 30px;
            }
            .group {
              padding-top: 10px;
            }
          }

          @media screen and (max-width: 374px) {
            .paragraph {
              height: 15px;
              margin: 8px 0 0 0;
            }
          }

          .product {
            display: flex;
            position: relative;
            padding: 93px 0 0 0;
            align-items: end;

            .column {
              background: #F3F2F9;
              border-radius: 5px;
              text-align: center;
              transition: all ease 0.5s;

              .list {
                width: 105px;
                height: 131px;
                border-radius: 5px;

                &:hover {
                  cursor: pointer;
                  background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
                  color: #FFFFFF;
                }

                ul {
                  list-style-type: none;
                  padding: 5px;
                  margin: 0;

                  .num {
                    font-size: 24px;
                    font-weight: bold;
                  }

                  .month {
                    padding: 0 0 10px 0;
                    font-size: 15px;
                    font-weight: bold;
                  }

                  .other {
                    font-size: 13px;
                  }

                  ._month {
                    padding-top: 6px;
                  }
                  @media screen and (min-width: 376px) {
                    ._month {
                      padding-top: 8px;
                    }
                  }

                  @media screen and (max-width: 374px) {
                    .num {
                      font-size: 20px;
                    }

                    .month {
                      padding: 0 0 5px 0;
                      font-size: 13px;
                    }

                    .other {
                      font-size: 11px;
                    }

                    ._month {
                      padding-top: 3px;
                    }
                  }
                }
              }

              .list_dark_theme {
                color: #FFFFFF;
                transition: all ease 0.5s;
              }

              ._two {
                border-radius: 0 0 5px 5px;
              }

              ._three {
                height: 115px;
                border-radius: 0;
              }

              .save {
                background: rgba(252, 191, 89, 1);
                border-radius: 5px 5px 0 0;
                height: 25px;
                font-size: 13px;
                font-weight: bolder;

                p {
                  height: 15px;
                  margin: 0;
                  padding: 5px;
                }
              }

              .sale {
                background: rgba(252, 167, 89, 1);
                border-radius: 0 0 5px 5px;
                font-size: 9px;
                height: 16px;
                font-weight: bolder;

                p {
                  margin: 0;
                  padding: 3px;
                }
              }

              .active {
                background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
                color: #FFFFFF;
              }

              @media screen and (min-width: 376px) {
                .list {
                  width: 118px;
                  height: 151px;
                }
                ._three {
                  height: 135px;
                }
              }

              @media screen and (max-width: 374px) {
                .list {
                  width: 88px;
                  height: 112px;
                }
                ._three {
                  height: 97px;
                }
                .save {
                  height: 21px;
                  font-size: 11px;
                  p {
                    padding: 4px;
                  }
                }
                .sale {
                  font-size: 7px;
                  height: 15px;
                  p {
                    padding: 4px;
                  }
                }
              }
            }

            .dark_theme {
              background: rgba(55, 54, 64, 1);
              transition: all ease 0.5s;
            }

            ._1 {
              height: 131px;
              margin: 0 5px 0 0;
            }

            ._2 {
              height: 156px;
              margin: 0 5px 0 5px;
            }

            ._3 {
              height: 156px;
              margin: 0 0 0 5px;
            }

            @media screen and (min-width: 376px) {
              ._1 {
                height: 151px;
              }

              ._2 {
                height: 176px;
              }

              ._3 {
                height: 176px;
              }
            }

            @media screen and (max-width: 374px) {
              ._1 {
                height: 112px;
                margin: 0 4px 0 0;
              }

              ._2 {
                height: 132px;
                margin: 0 4px 0 4px;
              }

              ._3 {
                height: 132px;
                margin: 0 0 0 4px;
              }
            }
          }

          @media screen and (min-width: 376px) {
            .product {
              padding: 97px 0 0 0;
            }
          }

          @media screen and (max-width: 374px) {
            .product {
              padding: 62px 0 0 0;
            }
          }

          .continue {
            font-size: 22px;
            width: 335px;
            height: 40px;
            color: #FFFFFF;
            background: linear-gradient(225deg, #542285 0%, #222266 100%);
            border-radius: 5px;
            display: block;
            text-align: center;
            padding-top: 10px;

            &:hover {
              cursor: pointer;
              background: linear-gradient(180deg, #542285 90%, #222266 100%);
            }
          }

          @media screen and (min-width: 376px) {
            .continue {
              width: 374px;
            }
          }

          @media screen and (max-width: 374px) {
            .continue {
              width: 280px;
            }
          }

          .billing {
            font-size: 11px;
            margin: 0;
            padding: 20px 0 25px 0;
            color: #999999;
            text-align: center;

            &::after {
              display: flex;
              position: absolute;
              content: '';
              width: 134px;
              height: 5px;
              background: #000000;
              border-radius: 100px;
              left: calc(50% - 134px / 2);
              margin: 26px 0 9px 0;
            }
          }
          @media screen and (max-width: 374px) {
            .billing {
              padding: 17px 0 18px 0;

              &::after {
                display: none;
              }
            }
          }
        }
      }

      @media screen and (min-width: 376px) {
        .block {
          width: 414px;

          .container {
            width: 374px;
          }
        }
      }

      @media screen and (max-width: 374px) {
        .block {
          width: 320px;

          .container {
            width: 280px;
          }
        }
      }

      ._bitmap {
        background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);

        .graph {
          position: absolute;
          width: 100%;
          padding-top: 145px;
        }

        .free {
          position: absolute;
          left: 302px;
          top: 170px;
        }

        .pro {
          position: absolute;
          left: 302px;
          top: 255px;
        }

        .dot {
          position: absolute;
          left: 315px;
          top: 195px;
        }

        .dot_2 {
          position: absolute;
          left: 315px;
          top: 280px;
        }

        .girl {
          position: absolute;
          left: 43%;
          top: 25%;
        }

        @media screen and (min-width: 376px) {
          .free {
            left: 328px;
            top: 175px;
          }

          .pro {
            left: 328px;
            top: 267px;
          }

          .dot {
            left: 340px;
            top: 200px;
          }

          .dot_2 {
            left: 340px;
            top: 292px;
          }

          .girl {
            width: 65%;
            height: 65%;
            left: 29%;
            top: 22%;
          }
        }

        @media screen and (max-width: 374px) {

          .graph {
            padding-top: 80px;
          }

          .free {
            left: 250px;
            top: 183px;
          }

          .pro {
            left: 250px;
            top: 275px;
          }

          .dot {
            left: 280px;
            top: 210px;
          }

          .dot_2 {
            left: 280px;
            top: 302px;
          }

          .girl {
            width: 60%;
            height: 60%;
            left: 29%;
            top: 22%;
          }
        }

        .overflow {
          position: absolute;
          overflow: hidden;
          cursor: pointer;
          display: flex;
          justify-content: center;
          width: 375px;
          height: 145px;
          top: 350px;
          margin: auto;

          .slider {
            position: absolute;
            margin: 0 auto;
            width: 335px;
            height: 145px;
            z-index: 2;

            .slider-line {
              position: relative;
              display: flex;
              width: 1017px;
              transition: all ease 1.5s;

              .slide {
                font-size: 15px;
                height: 140px;
                width: 335px;
                background: rgba(243, 242, 249, 1);
                border-radius: 10px;
                transition: all ease 0.5s;

                .comment {
                  display: flex;
                  height: 45px;
                  justify-content: space-between;

                  .slide-title {
                    height: 18px;
                    margin: 20px 20px 10px 18px;
                  }

                  .author {
                    margin: 20px;
                    opacity: 0.5;
                  }
                }

                .stars {
                  margin: 0 20px 0 18px;
                  color: rgba(252, 191, 89, 1);
                }

                .slide-comment {
                  margin: 16px 23px 24px 18px;
                }
              }

              .__one {
                margin: 0 2.5px 0 0;
              }

              .__two {
                margin: 0 2.5px 0 2.5px;
              }

              .__three {
                margin: 0 0 0 2.5px;
              }

              .slide-dark {
                background: linear-gradient(225deg, #262526 0%, #19181A 100%);
                color: #fff;
              }
            }
          }
        }

        @media screen and (min-width: 376px) {
          .overflow {
            width: 414px;
            top: 400px;

            .slider {
              width: 374px;

              .slider-line {
                width: 1134px;

                .slide {
                  width: 374px;
                }
              }
            }
          }
        }

        @media screen and (max-width: 374px) {
          .overflow {
            width: 320px;
            height: 110px;
            top: 205px;

            .slider {
              width: 280px;
              height: 110px;

              .slider-line {
                width: 852px;

                .slide {
                  width: 280px;
                  height: 110px;
                  font-size: 13px;

                  .slide-comment {
                    margin: 9px 15px 12px 15px;
                  }

                  .stars {
                    margin: 0 15px 0 15px;
                    color: rgba(252, 191, 89, 1);
                  }

                  .comment {
                    height: 38px;
                    .slide-title {
                      height: 18px;
                      margin: 15px 15px 7px 15px;
                    }

                    .author {
                      margin: 15px 25px 20px 20px;
                      opacity: 0.5;
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media screen and (min-width: 376px) {
        ._bitmap {
          height: 470px;
        }
      }

      @media screen and (max-width: 374px) {
        ._bitmap {
          height: 261px;
        }
      }

      ._product {
        height: 249px;
        padding-bottom: 20px;
        transition: all ease 0.5s;
      }

      ._continue {
        height: 124px;
        transition: all ease 0.5s;
      }

      @media screen and (min-width: 376px) {
        ._product {
          height: 273px;
          padding-bottom: 29px;
        }
      }

      @media screen and (max-width: 374px) {
        ._product {
          height: 194px;
          padding-bottom: 13px;
        }
        ._continue {
          height: 100px;
        }
      }

      ._light {
        background: #FFFFFF;
      }

      .dark {
        background: black;
      }
    }
  }
}

