html {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

section {
    display: block;
    margin: auto;
    position: relative;
}

.graphics {
    width: 416px;
    height: 471px;
    background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
}

.dark {
    width: 416px;
    height: 471px;
    background: black;
}

.graph {
    position: absolute;
    padding-top: 34px;
}

.group {
    position: absolute;
    color: #FFFFFF;
    left: 7.88%;
    top: 38%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 12px;
}

.paragraph {
    margin: 0 0 33px 0;

}

.paragraph::before {
    position: absolute;

    content: url("img/line/Path 1.svg");
}

.girl {
    position: absolute;
    padding: 0 0 0 188px;
}

.line {
    position: relative;
}

.close {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 48px 13px 0 370px;
}

.close:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5273);
}

.close p {
    font-family: SFProDisplay;
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    color: #894AC9;
    text-align: center;
}

h1 {
    height: 41px;
    left: 84px;
    right: 79px;
    top: 80px;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin: 28px 0 0 0;
    padding-top: 80px;
    letter-spacing: 3px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 93px 0 20px 0;
    align-items: end;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.other {
    font-size: 13px;
}

._1 {
    height: 151px;
}

._2, ._3 {
    height: 176px;
}

.column  {
    width: 118px;
    margin: 10px;
    background: #F3F2F9;
    border-radius: 5px;
    text-align: center;
}

.dark_theme {
    width: 118px;
    margin: 10px;
    background: rgba(55, 54, 64, 1);
    border-radius: 5px;
    text-align: center;
}

.list {
    height: 151px;
    border-radius: 5px;
}

.list_dark_theme {
    height: 151px;
    border-radius: 5px;
    color: #FFFFFF;
}

.three {
    height: 135px;
}

.list:hover {
    cursor: pointer;
    background: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
    color: #FFFFFF;
}

.save {
    background: rgba(252, 191, 89, 1);
    border-radius: 5px 5px 0 0;
    height: 25px;
    font-size: 13px;
    font-weight: bolder;
}

._one {
    background: rgba(252, 167, 89, 1);
}

.save p {
    margin: 0;
    padding: 5px;
}

.sale {
    background: rgba(252, 167, 89, 1);
    border-radius: 0 0 5px 5px;
    font-size: 9px;
    height: 16px;
    font-weight: bolder;
}

.sale p {
    margin: 0;
    padding: 3px;
}

.num, .month {
    font-size: 24px;
    font-weight: bold;
}

.month {
    padding: 0 0 7px 0;
}

.continue {
    font-size: 22px;
    width: 374px;
    height: 40px;
    color: #FFFFFF;
    background: linear-gradient(225deg, #542285 0%, #222266 100%);
    border-radius: 5px;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.continue:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #542285 90%, #222266 100%);

}

.billing {
    margin: 20px 0 50px 0;
    color: rgba(125, 125, 128, 1);
    text-align: center;
}

.billing::after {
    display: flex;
    content: '';
    position: absolute;
    width: 134px;
    height: 5px;
    background: #000000;
    border-radius: 100px;
    left: calc(50% - 134px/2);
    margin: 26px 0 0 0;
}

